#main-content {
    padding: 5%;
    align: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
}

.proyectos {
    display: block;
    min-height: 50%;
    justify-content: initial !important;
}
input {
    display: block;
}
